/* .header4{
    margin: 0 auto;
} */

.bookType {
    width: 130px;
    margin: 0px 10px;
}

.typeContainer {
    margin-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.author {
    color: #bebebe;
}
.price {
    color: #5ed2ad;
}


.cardHover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 62%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-radius: 5px;
  }

  .imageHover:hover .cardHover {
    opacity: 0.7;
  }

  .hoverContent {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }