.troley {
    position: relative;
}

.count {
    background: #777777;
    /* padding: 10px; */
    border-radius: 50%;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: 7px;
    right: -10px;
}